@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0e1419;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  transition: 0.3s;
}

header nav {
  display: flex;
  column-gap: 50px;
}

header nav a {
  text-decoration: none;
  color: white;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px;
  text-align: center;
  gap: 50px;
}

.avatar {
  background: linear-gradient(
    to bottom,
    rgb(156, 51, 190),
    white,
    rgb(39, 65, 159)
  );
  border-radius: 50%;
  padding: 10px;
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px 10px rgba(155, 51, 190, 0.399);
  transition: 0.3s;
}

.avatar:hover {
  box-shadow: 0 0 80px 30px rgba(155, 51, 190, 0.399);
}

#home .avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#home .title h1 {
  font-size: 50px;
}

#home .title h3 {
  opacity: 0.8;
}

#home p {
  font-size: 15px;
  width: 60%;
  opacity: 0.6;
}

#home .links {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

#home .links a svg {
  width: 30px;
}

#home .links a svg path {
  fill: white;
  transition: 0.3s;
}
#home .links a:hover svg path {
  fill: rgb(83, 41, 188);
}

#home button {
  border: 1px solid white;
  padding: 10px 20px;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#home button:hover {
  background: white;
  color: #0e1419;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 200px;
  background: #121b21;
}

#about p {
  opacity: 0.6;
  margin-top: 10px;
}

#about div {
  margin-top: 30px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 200px;
}

footer .in-touch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .in-touch .my-info a {
  text-decoration: none;
  opacity: 0.8;
  margin-left: 5px;
  transition: 0.3s;
}

footer .in-touch .my-info a:hover {
  color: rgb(83, 41, 188);
}

footer .in-touch .links {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

footer .in-touch .links a svg {
  width: 30px;
}

footer .in-touch .links a svg path {
  fill: white;
  transition: 0.3s;
}
footer .in-touch .links a:hover svg path {
  fill: rgb(83, 41, 188);
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-left: 1px solid #333;
}

footer form label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer form label input,
footer form label textarea {
  padding: 15px;
  background: transparent;
  border: 1px solid #333;
  outline: none;
}

footer form button {
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  background: white;
  color: #0e1419;
}

footer form button:hover {
  background: transparent;
  color: white;
}